
.leaderboard {
  background-color: $background;
  border: 0;
  width: 80%;

}

.header {
  text-align: center;
  font-family: 'Cambay', sans-serif;
  color:  white;
}
// canvas {
//   display: none;

// }